appdirs==1.4.4
asgiref==3.2.10
distlib==0.3.0
Django==3.0.7
djangorestframework==3.11.0
filelock==3.0.12
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
virtualenv==20.0.20
virtualenvwrapper-win==1.2.6
psycopg2-binary==2.8.5
django-cors-headers==3.4.0
google-auth==1.18.0
pdfplumber==0.5.21